.card {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  transition: box-shadow .3s ease-in-out;
  width: 300px;

  &:hover {
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
  }

  .cardImg {
    height: 250px;
    object-fit: contain !important;
  }

  .cardTitle {
    color: #0066ff;
  }

  .cardPrice {
    color: #ab0000;

    .priceCurrency {
      color: #7db122;
    }
  }

  .cardButtons {
    margin-top: auto;
  }
}

@media (max-width: 768px) {
  .card {
    .cardImg {
      height: 170px;
    }

    .cardTitle {
      font-size: 18px;
    }

    .cardPrice {
      font-size: 18px;
    }
  }
}

