.card {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  gap: 30px;

  .cardImg {
    max-width: 350px;
    width: 100%;

    .img {
      height: 300px;
      width: 100%;
      object-fit: contain;
    }
  }

  .cardCategory {
    text-transform: uppercase;
    color: #7db122;
  }

  .cardTitle {
    color: #0066ff;
  }

  .cardPrice {
    color: #ab0000;

    .priceCurrency {
      color: #7db122;
    }
  }

  .rating {
    margin-bottom: 20px;
  }

  .cardButtons {
    margin-top: auto;

    .btn {
      color: #7db122;
    }
  }
}

@media (max-width: 768px) {
  .card {
    padding: 30px 0;
    display: block;

    .cardImg {
      margin: 0 auto;
    }

    .cardCategory {
      text-align: center;
      font-size: 26px;
    }
  }
}

@media (max-width: 490px) {
  .card {
    padding: 20px 0;

    .cardImg {
      .img {
        height: 200px;
      }
    }

    .cardCategory {
      font-size: 24px;
    }

    .cardTitle {
      font-size: 18px;
    }

    .cardPrice {
      font-size: 20px;
    }
  }
}